{% extends "home1.html" %}
{% block content %}


<html>
   <head>
      <title>Highcharts Tutorial</title>
      
      <script src = "https://code.highcharts.com/highcharts.js"></script> 
 <script src="https://code.highcharts.com/modules/data.js">
    
</script>
<script src="https://code.highcharts.com/modules/exporting.js">
    
</script>
<script src="https://code.highcharts.com/modules/export-data.js"></script>
<script src="https://code.highcharts.com/modules/data.js"></script>
<script src="https://code.highcharts.com/modules/series-label.js"></script>

<script src="https://code.highcharts.com/modules/drilldown.js"></script>


   </head>
   
   <body>

  <!-- Page Content -->
  
      <div id = "container" style = "width: 650px; height: 500px; margin: 0 auto"></div>
      
<script>
  


  Highcharts.chart('container', {
  chart: {
    plotBackgroundColor: null,
    plotBorderWidth: null,
    plotShadow: false,
    type: 'pie'
  },
  title: {
    text: 'Which Airline Company Flight Travel More'
  },
  tooltip: {
    pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
  },
  plotOptions: {
    pie: {
      allowPointSelect: true,
      cursor: 'pointer',
      dataLabels: {
        enabled: true,
        format: '<b>{point.name}</b>: {point.percentage:.1f} %',
        style: {
          color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
        }
      }
    }
  },
  series: [{
    name: 'Brands',
    colorByPoint: true,
    data: [
      {% for label,item in set %} 
               {
                     "name":"{{label}}",
                     "y":{{item}}
                    
                   
                },
                {% endfor %}

      
    ]
  }]
});
</script>
   
  <!-- Bootstrap core JavaScript -->
  




   </body>
   
</html>
{% endblock content %}