{% extends "home1.html" %}
{% block content %}

 <script src="https://code.highcharts.com/highcharts.js">
 	

 </script>
    <script src="https://code.highcharts.com/modules/data.js">
    
</script>
<script src="https://code.highcharts.com/modules/exporting.js">
    
</script>
<script src="https://code.highcharts.com/modules/export-data.js"></script>
<script src="https://code.highcharts.com/modules/data.js"></script>

<script src="https://code.highcharts.com/modules/drilldown.js"></script>

      
      
     <div id="container" style="min-width: 350px; height: 500px; margin: 0 auto"></div>
      <script language = "JavaScript">

Highcharts.chart('container', {
    chart: {
        type: 'column'
    },
    title: {
        text: 'Best Time in Day'
    },
    subtitle: {
        text: 'Click the columns to view versions. Source: <a href="http://statcounter.com" target="_blank">statcounter.com</a>'
    },
    xAxis: {
        type: 'category'
    },
    yAxis: {
        title: {
            text: 'Overall Delay(min) of Airline Company'
        }

    },
    legend: {
        enabled: true
    },
    plotOptions: {
        series: {
            borderWidth: 0,
            dataLabels: {
                enabled: true,
                format: '{point.y:.1f}'
            }
        }
    },

    tooltip: {
        headerFormat: '<span style="font-size:11px">{series.name}</span><br>',
        pointFormat: '<span style="color:{point.color}">{point.name}</span>: <b>{point.y:.2f}</b> of total<br/>'
    },

    "series": [
        {
            "name": "Delay",
            "colorByPoint": true,

            "data": [

            {% for hour,newdelay in set %}

            {
                    
                    "name":"{{hour}}",
                     "y":{{newdelay}}

 
            } ,
            {% endfor %}

               
                
               
            ]
        }
    ]
});

</script>




{% endblock content %}